#contact-form-container {
  display: none;
  position: fixed;
  top: 5%;
  right: 140px;
  background: #fff;
  color: #000;
  border-radius: 6px;
  box-shadow: 0 0 4px 3px lightblue;
  text-align: center;
  padding: 15px;
  width: 250px;
  opacity: 0;
  transition: 1s;

  &.open {
    display: inline-block;
    opacity: 1;
    transition: 1s;
  }

  .title {
    font: 2rem 'Roboto';
    margin-bottom: 15px;
  }

  form {
    label {
      display: block;
      text-align: left;
    }

    input,
    textarea {
      display: block;
      width: 100%;
      margin: 2px 0 20px 0;
      padding: 5px;
      border: 1px solid #000;
      box-sizing: border-box;

      &:focus {
        outline: 0;
      }
    }

    button {
      width: 100%;
    }
  }
}