@import "_reset";
@import "_contactform";

body {
  background: url('../images/bg2.jpg');
  color: #fff;
  font-family: "Roboto", sans-serif;
}

#ui-overlay {
  .social-icons-container {
    position: fixed;
    left: 5%;
    bottom: 5%;
    z-index: 50;

    ul {
      padding: 0;

      a {
        text-decoration: none;
      }

      li {
        display: block;
        list-style: none;
        color: #fff;
        font-size: 30px;
        margin: 10px 0;
        transition: 0.4s;

        &.fa-facebook:hover {
          color: #4267b2;
        }

        &.fa-linkedin:hover {
          color: #0077B5;
        }

        &.fa-github:hover {
          color: #797979;
        }

        &:hover {
          //font-size: 27px;
          transition: 0.4s;
          cursor: pointer;
        }
      }

    }
  }

  .footer-area {
    position: fixed;
    left: 5%;
    right: 5%;
    bottom: 5%;
    width: 220px;
    text-align: center;
    margin: 0 auto;
    z-index: 50;

    &::before {
      position: absolute;
      top: 8px;
      left: -160px;
      display: block;
      content: "";
      width: 150px;
      background: #fff;
      height: 2px;
    }

    &::after {
      position: absolute;
      top: 8px;
      right: -160px;
      display: block;
      content: "";
      width: 150px;
      background: #fff;
      height: 2px;
    }
  }

  #logo {
    position: fixed;
    top: 5%;
    left: 0;
    right: 0;
    font-size: 2rem;
    width: 210px;
    margin: 0 auto;
    z-index: 50;

    &:hover {
      color: lightblue;
      cursor: pointer;

      span {
        color: #fff;
      }
    }

    span {
      position: relative;
      top: 15px;

      &:hover {
        color: pink;
      }
    }
  }

  #contact-button {
    position: fixed;
    top: 5%;
    right: 5%;
    border-radius: 50%;
    border: 2px solid #fff;
    color: #fff;
    font-size: 24px;
    background: none;
    width: 50px;
    height: 50px;
    transition: 0.4s;
    z-index: 50;

    &:hover {
      cursor: pointer;
      border: 1px solid #fff;
      font-size: 20px;
      transition: 0.4s;
    }
  }
}

#contact-label {
  position: fixed;
  top: 70px;
  right: 0;
  font: 1.5rem Roboto;
  opacity: 0;
  transition: 0.4s;

  &.shown {
    right: 140px;
    opacity: 1;
    transition: 0.4s;
  }
}

.main-area {
  text-align: center;
  position: relative;
  margin-top: 300px;
  min-height: 100vh;
  border-bottom: 1px solid #252525;

  h1 {
    position: relative;
    margin-top: 100px;
    color: lightblue;
    font-size: 3rem;
    z-index: 10;
  }

  .main-image {
    position: absolute;
    left: 0;
    right: 0;
    height: 350px;
    width: 150px;
    margin: 0 auto;
    background: #000;
    box-shadow: 5px 0px 84px 15px #62619c;
    transform: rotateZ(30deg);
  }
}

button {
  color: #fff;
  padding: 10px;
  background: #000;

  &.learn-more {
    position: relative;
    top: 20px;
    background: transparent;
  }

  &:hover {
    cursor: pointer;
    background: rgba(0,0,0,0.8);
    border-color: lightblue;
  }
}

#pagination-container {
  position: fixed;
  right: 25%;
  top: 30%;
  padding: 0;
  list-style: none;

  li {
    display: block;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background: transparent;
    border: 2px solid #fff;
    margin: 10px 0;
    transition: 0.7s;

    &.active {
      background: #fff;
      transition: 0.7s;
    }
  }
}